{% if DEV %} 
    {% set baseurl = rootUrl + '/static' %} 
{% else %} 
    {% set baseurl = rootUrl + '/static' %}
{% endif %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">{% block prefetch %}{% endblock %}
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %} 
    {% block css %}{% endblock %}
</head>

<body class="{{ section }}">
    {% block body %}{% endblock %}
    {% block js %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>

</html>
