{% extends "../layouts/master.html" %} {% block body %}

<h1 class="header">
    <span class="title">当前的产品列表</span>
    <div class="button-list">
        <input type="button" onclick="location.href='{{rootUrl}}/order/list'" class="button list-all-orders" value="查看已下订单">

        <input type="button" onclick="location.href='{{rootUrl}}/product/create'" class="button add-new-product" value="添加新产品">
    </div>
</h1>
<div class="product-list">
    <div class="top">
        <div class="product-code">
            <!-- <input type="text" class="text-box product-code-input" id="product-code"> -->
        </div>
        <!-- <input type="button" class="button add-to-orderlist" value="添加到订单列表"> -->
    </div>
    <table id="product-list">
        <tr>
            <th>名称</th>
            <th>图片</th>
            <th>描述</th>
            <th>单价</th>
            <th>数量</th>
            <th>加购物车</th>

        </tr>
        {% for product in products %}
        <tr data-id="{{eval(product._id)}}">
            <td class="name">{{product.name}}</td>
            <td class="picture">
                <img src="http://gtms02.alicdn.com/tps/T1H.4lFOpdXXXXXXXX_!!0-item_pic.jpg_160x160.jpg" />
            </td>
            <td class="description">{{product.description}}</td>
            <td class="unit-price">{{product.unitPrice}}</td>
            <td class="qty">1</td>
            <td class="action">
                <button class="button" data-id="{{eval(product._id)}}">添加</button>
            </td>
        </tr>
        {% endfor %}
    </table>

    <hr>
    <table id="order-products">
        <tr>
            <th>名称</th>
            <th>图片</th>
            <th>描述</th>
            <th>单价</th>
            <th>数量</th>
            <th>删除</th>
        </tr>
        <tr class="lastline">
            <td colspan="6">
                <span class="message">当前还没有添加任何产品到购物车！</span>
            </td>
        </tr>
    </table>
    <div id="subtotal" class="sub-total">
        <span class="label">小计:</span>
        <span class="subtotal-value"></span>
    </div>
    <div class="order_id">
        <input type="hidden" id="order-id" value="">
        <input type="hidden" id="tranid" value="">
    </div>
    <input class="button place-order" id="processall" type="submit" value="下单生成二维码">
    <div id="loading">正在处理中...</div>
    <div id="qrcode"></div>
    <!-- <input class="button place-order" id="placeanorder" type="submit" value="去下订单">
    <input class="button place-order" id="placeorder1qianbao" type="submit" value="1钱包下单">
    <input class="button place-order" id="qrcode" type="submit" value="生成二维码"> -->


</div>
{% endblock%} {% block scripts%}
<script type="text/javascript">
$(function() {
    var $orderproducts = $("#order-products");
    var $productlist = $("#product-list");
    var $subtotal = $("#subtotal");

    function showMessage() {
        if ($orderproducts.find("tr").length > 0) {
            $orderproducts.find("tr.lastline").hide();
            $subtotal.show();
        } else {
            $subtotal.hide();
        }
    }

    // calculate cart subtotal.

    function calSubtotal() {
            var $items = $orderproducts.find("tr[data-id]");
            var sum = 0;
            $items.each(function(index, item) {
                var $item = $(item);
                var qty = parseInt($item.find(".qty").text());
                var unitPrice = parseFloat($item.find(".unit-price").text());
                sum += qty * unitPrice;
            });
            $subtotal.find(".subtotal-value").text(sum.toFixed(2));
        }
        // remove product item from shopping cart.
    $orderproducts.on("click", "button.button", function(e) {
        var pId = $(this).data("id");
        $orderproducts.find("tr[data-id='" + pId + "']").remove();
        calSubtotal();
    });
    $productlist.on("click", "button.button", function(e) {
        var pId = $(this).data("id");
        var $tr = $productlist.find("tr[data-id='" + pId + "']");
        var $newTr = $tr.clone();
        $newTr.find(".button").text("删除");
        var $hasExist = $orderproducts.find("tr[data-id='" + pId + "']");
        if ($hasExist.length) {
            var qty = parseInt($hasExist.find(".qty").text());
            $hasExist.find(".qty").text(++qty);
        } else {
            $orderproducts.find("tr.lastline").before($newTr);
        }
        showMessage();
        calSubtotal();
    });
    // place order in local database.
    function placeLocalOrder(callback) {
            var $cartList = $orderproducts.find("tr");
            var orderCfg = [];
            $cartList.each(function(index, item) {
                var $item = $(item);
                var purchaseItem = {
                    pId: $item.data("id"),
                    qty: parseInt($item.find(".qty").text())
                };
                if (purchaseItem.pId) {
                    orderCfg.push(purchaseItem);
                }
            });
            if (orderCfg.length) {
                $.ajax({
                    type: "POST",
                    url: "/api/order/create",
                    data: JSON.stringify(orderCfg),
                    dataType: "json",
                    contentType: 'application/json',
                    success: function(result) {
                        if (result.retCode == 1) {
                            var orderId = result.info && result.info.orderId || 0;
                            var totalAmount = result.info && result.info.totalAmount || 0;
                            $("#order-id").val(orderId);
                            $("#placeorder1qianbao").show();
                            callback && callback(orderId, totalAmount);
                        }
                        console.log(result);
                    },
                    error: function(result) {
                        console.log(result);
                    }
                });
            } else {
                alert("当前，购物车没有产品！")
            }
        }
        // place order from 1 qianbao.

    function placeOrderfrom1qianbao(orderId, totalAmount, callback) {
            $.ajax({
                type: "POST",
                url: "/api/order/1qianbao/placeorder",
                data: JSON.stringify({
                    orderId: orderId,
                    totalAmount: totalAmount
                }),
                dataType: "json",
                contentType: 'application/json',
                success: function(result) {
                    console.log("placeOrderfrom1qianbao: ", result);
                    $("#tranid").val();
                    callback && callback(result);
                },
                error: function(result) {
                    console.log(result);
                }
            });
        }
        // generate qr code.

    function qrCode(transId) {
        $.ajax({
            type: "GET",
            url: "/api/images/qrcode",
            data: {
                fileName: "testqr",
                value: "https://test2-www.1qianbao.com:7443/cashier/" + transId
            },
            dataType: "json",
            success: function(result) {
                console.log(result);
                var qrUrl = result.info;
                if (!$("#qrcode").find("img.qr").length) {
                    $("#qrcode").append("<img src='" + qrUrl + "' class='qr' />");
                } else {
                    $(".qr").attr("img", qrUrl);
                }
            },
            error: function(result) {
                console.log(result);
            }
        });
    }
    $("#placeanorder").on("click", function(e) {
        placeLocalOrder();
    });
    $("#placeorder1qianbao").on("click", function(e) {
        placeOrderfrom1qianbao($("#order-id").val());
    });

    $("#qrcode").on("click", function(e) {
        qrCode();
    });
    $("#processall").on("click", function(e) {
        $("#loading").show();
        placeLocalOrder(function(orderId, totalAmount) {
            placeOrderfrom1qianbao(orderId, totalAmount, function(result) {
                console.log("1qianbao:", result);
                var transId = result.info && result.info.transId;
                qrCode(transId);
                $("#loading").hide();
            });
        })
    });
});
</script>
{% endblock%}
